<div class="content">
	<div class="data data-opt1">0</div>
	<div class="data data-opt2">0</div>
	<div class="data data-opt3">0</div>
	<div class="btn-opt btn-opt1" data-opt="1"></div>
	<div class="btn-opt btn-opt2" data-opt="2"></div>
	<div class="btn-opt btn-opt3" data-opt="3"></div>
	<div class="btn btn-reset"></div>
	<div class="btn btn-calc"></div>
</div>

<div class="chart">
	<div class="y-axis" data-axisid="1">5</div>
	<div class="y-axis" data-axisid="2">10</div>
	<div class="y-axis" data-axisid="3">15</div>
	<div class="y-axis" data-axisid="4">20</div>
	<div class="y-axis" data-axisid="5">25</div>
	<div class="label label1"></div>
	<div class="label label2"></div>
	<div class="label label3"></div>
	<canvas id="group1" width="700" height="450"></canvas>
	<canvas id="group2" width="700" height="450"></canvas>
	<canvas id="group3" width="700" height="450"></canvas>
</div>