.headline{
	background-size: 541px auto;
}

.content{
	>div{
		position:absolute;
	}
	.data{
		color:#427f2c;
		font-size:25px;
		line-height:25px;
		width:50px;
		height:25px;
		left:128px;
		text-align: center;
		font-weight: bold;
		&.data-opt1{
			top:307px;
		}
		&.data-opt2{
			top:403px;
		}
		&.data-opt3{
			top:498px;
		}
	}

	.btn-opt{
		left:186px;
		width:73px;
		height:56px;
		&.btn-opt1{
			top:292px;
		}
		&.btn-opt2{
			top:387px;
		}
		&.btn-opt3{
			top:482px;
		}

	}
	.btn{
		top:583px;
		width:245px;
		height:57px;
		&.btn-reset{
			left:143px;
		}
		&.btn-calc{
			left:639px;
		}
	}
}