.headline{
	background-size: 379px auto;
}

.content{
	height:768px;
	background: url('../img/content.png') no-repeat top center;
	background-size: 1024px auto;
}

svg, canvas{
	position: absolute;
    left: 291px;
    top: 142px;
    width: 444px;
    height: 506px;
    opacity:1;
}

.hexMap{
	position: absolute;
    left: 291px;
    top: 142px;
    width: 444px;
    height: 506px;
    opacity:1;
    div{
    	width:50px;
    	height:50px;
    	position:absolute;
    	pointer-events: auto;
    	background:red;
    	opacity:0.5;
    }
}

.topHex{
	background: url('../img/positive-reactions-hex.png') no-repeat center center;
	background-size:153px 170px;
	width:153px;
	height:170px;
	position:absolute;
	top:314px;
	left:435px;
}